@import "reset.css";

:root {
  --sidebar-width: 280px;

  --font-eng: "Open Sans", sans-serif;
  --font-kr: "Noto Sans KR", sans-serif;
  --font-logo: "Open Sans Condensed", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

.categories > *,
.sidebar-wrapper {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-wrapper {
  height: 100vh;
}

/* *****[ sidebar ]***** */
.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--sidebar-width);
  text-align: center;
  overflow-y: auto;
  background-color: #fff;
  color: black;
}

.sidebar-header {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
  padding-left: 30px;
}

/* sidebar: logo (font) */
/* .logo {
  font-family: var(--font-logo);
  font-size: 30px;
  font-weight: bold;
  color: #fd9003;
} */

/* sidebar: logo (image) */
.logo {
  font-family: var(--font-logo);
  font-size: 30px;
  font-weight: bold;
  color: #fd9003;
  width: 200px;
  height: 80px;
  padding: 30px 0;
}

img {
  width: 100%;
}

/* sidebar: user info */
.user-prefix {
  font-size: small;
  color: gray;
}

.user-info {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 25px;
}

.user-postfix {
  font-size: small;
  color: gray;
}

/* sidebar: category */
.categories > * {
  cursor: pointer;
  padding: 25px 10px;
  border-bottom: 0.1px solid #f3e2bf;
}

.categories > li:first-child {
  border-top: 0.1px solid #f3e2bf;
}

.categories > *:hover {
  background-color: #ffe9c9;
  border-bottom: 0.1px solid transparentc;
}

.categories > li > a > i {
  width: 50px;
  text-align: center;
  color: #000;
}

.has-dropdown::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  float: right;
  margin: 5px 15px 5px 0;
}

.menu-lable {
  color: #000;
}

.sidebar-menu {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
}

.sidebar-submenu {
  display: none;
}

/* ******[section]****** */

#section-container {
  margin-left: var(--sidebar-width);
  background-color: #fffbf3;
  height: 100%;
}

.page-header {
  background-color: #fffbf3;
  display: flex;
  flex-flow: column wrap;
  padding: 30px 40px 0px 40px;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
}

.page-description {
  line-height: 40px;
  font-weight: 100;
  font-size: 15px;
  color: #757575;
}

.contents {
  border: 1px solid #e2e2e2;
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column wrap;
}

.today-chart {
  display: flex;
  flex-flow: row wrap;
}

/* 대시보드 페이지 */

.chart,
.sub-chart {
  display: flex;
  background-color: #ffd596;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  min-height: 300px;
}

.date {
  padding: 10px 10px 0px 10px;
}
.chart-group {
  display: flex;
}
